// Define variables for font sizes
$font-large: 25px;
$font-medium: 18px;
$font-small: 12px;
$font-temp-large: 3rem;
$font-temp-medium: 2rem;
$font-humid-windy: 13px;
$weather-img-large: 254px;
$weather-img-medium: 130px;
$weather-img-small: 154px;

// Large screen
@media (min-width: 769px) {
  html {
    font-size: $font-large;

    .main-container {
      .weather-app {
        .top-part {
          .search-bar {
            .location { }
            .search-icon { }
          }
        }

        .middle-part {
          .humid-windy {
            .humid, .windy { }
          }

          p {
            font-size: 1rem;
          }

          .display-temperature {
            font-size: $font-temp-large;
          }

          .weather-img {
            width: $weather-img-large;
            height: $weather-img-large;
          }
        }

        .bottom-part { }
      }
    }
  }
}

// Tablet screen
@media (min-width: 451px) and (max-width: 768px) {
  html {
    font-size: $font-medium;

    .main-container {
      .weather-app {
        margin-top: 5vh;

        .top-part {
          display: block;

          .search-section {
            margin-bottom: 15px;

            .search-bar {
              .location { }
              .search-icon { }
            }
          }
        }

        .middle-part {
          max-height: unset;
          flex-direction: column;
          margin-top: 0;
          margin-bottom: 50px;

          .humid-windy {
            order: 3;

            .humid, .windy {
              width: auto;
              height: 11vh;
              font-size: $font-humid-windy;
              padding-top: 0;
              .label{
                margin-top: 30px;
              }
            }
          }

          p {
            font-size: 1rem;
          }

          .display-temperature {
            font-size: $font-temp-medium;
            order: 2;
          }

          .weather-img {
            width: $weather-img-medium;
            height: 70px;
            order: 1;
            margin-left: 32%;
            bottom: 38px;
          }
        }

        .bottom-part { }
      }
    }
  }
}

// Mobile screen
@media (min-width: 0px) and (max-width: 450px) {
  html {
    font-size: $font-small;

    .main-container {
      .weather-app {
        margin-top: 0;

        .top-part {
          display: block;

          .search-section {
            margin-bottom: 15px;

            .search-bar {
              .location { }
              .search-icon { }
            }
          }
        }

        .middle-part {
          max-height: unset;
          flex-direction: column;
          margin-top: 0;
          margin-bottom: 50px;

          .humid-windy {
            order: 3;

            .humid, .windy {
              width: auto;
              height: 11vh;
              font-size: $font-humid-windy;
              padding-top: 0;
              .label{
                margin-top: 30px;
              }
            }
          }

          p {
            font-size: 1rem;
          }

          .display-temperature {
            font-size: $font-temp-medium;
            order: 2;
          }

          .weather-img {
            width: $weather-img-small;
            height: 70px;
            order: 1;
            margin-left: 32%;
            bottom: 38px;
          }
        }

        .bottom-part { }
      }
    }
  }
}

// Weather graph container and responsive adjustments
.weather-graph-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9 Aspect Ratio

  .weather-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .weather-graph-container {
    padding-top: 75%; // Adjust aspect ratio for smaller screens
  }
}

@media (max-width: 480px) {
  .weather-graph-container {
    padding-top: 100%; // Adjust aspect ratio for mobile
  }
}
